# Ignore images
*.jpg
*.jpeg
*.png
*.gif
img/
whatsapp_extracted/

# Ignore zip files
*.zip

# Ignore pdfs
*.pdf

# Ignore virtual environments
venv/
env/
.env

# Other general ignores
__pycache__/
node_modules/
.DS_Store
#ignore docs and ppts
*.pptx
*.docx
# Go build artifacts & runtime dirs
backend/server
backend/temp_uploads/
backend/temp_outputs/
*.log

# Next.js build output
.next/
